{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    {{site.name}} - Backlinks
{% endblock %}
{% block tcright %}
    <button class="btn btn-secondary"><i class="fas fa-sync"></i></button>
{% endblock %}
{% block body %}
<div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <table class="table table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Backlink</th>
                      <th>Last Checked</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for a in backlinks %}
                    <tr>
                      <td>{{ a.backlink }}</td>
                      <td>{{ a.lastchecked|date('Y-m-d') }}</td>
                      <td><span class="tag tag-success"><div id="bstatus-{{a.id}}">{{ a.status }}</div></span></td>
                      <td>
                        <a href="{{ path('backlink_view', {'id': a.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="dropdown">
                      <i class="fas fa-link"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ a.backlink }}" target="_blank">Check Active</a>
                      <div id="lostbutton">
                       <button class="dropdown-item" id="updatestatus-lost-{{a.id}}">Lost Backlink</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active-{{a.id}}">Active Backlink</button>  
                       </div>
                    </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        </div>
{% endblock %}
{% block pageJS %}
{% for a in backlinks %}
    <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-lost-{{a.id}}").on("click", function(event){ 
            $('#bstatus-{{a.id}}').html('');  
            $('#bstatus-{{a.id}}').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{a.id}}/updatestatus/Lost',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus-{{a.id}}').html('');  
                  $('#bstatus-{{a.id}}').append(data['statuschange']); 
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active-{{a.id}}").on("click", function(event){ 
            $('#bstatus-{{a.id}}').html('');  
            $('#bstatus-{{a.id}}').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{a.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus-{{a.id}}').html('');  
                  $('#bstatus-{{a.id}}').append(data['statuschange']); 
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      });  
   </script>
   {% endfor %} 
{% endblock %}
{% block ModalArea %}
{% endblock %}