{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    {{site.name}} - Edit
{% endblock %}
{% block tcright %}
{{ form_start(form) }}
    <button type="submit" id="form-submit" class="btn btn-success">Save</button>
{% endblock %}
{% block body %}
<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Site Details</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Site Name</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Site Url</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.Url, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Description</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                            </div>

                        </div>
                    </div>
                </div>      
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        
        </div>
      {{ form_end(form) }}

{% endblock %}
{% block pageJS %}
 
{% endblock %}
{% block ModalArea %}

{% endblock %}