{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    {{site.name}} <div id="sitestatus"><span class="badge badge-{% if site.status == 'Active' %}success{% endif %}{% if site.status == 'Inactive' %}danger{% endif %}{% if site.status == 'New' %}dark{% endif %}">{{site.status}}</span></div>
{% endblock %}
{% block tcright %}
    <button id="blupdate" class="btn btn-success"><div id="bspin"><i class="fas fa-sync"></i></div></button>
    <a href="{{ path('site_edit', {'id': site.id}) }}" class="btn btn-info"><i class="fas fa-pen"></i></a>
    <button type="button" class="btn btn-dark" data-toggle="dropdown">Status</button>
    <div class="dropdown-menu">
        <button class="dropdown-item" id="updatestatus-active">Active</button>
        <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>  
    </div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="newprosp">{{ site.newprosp }}</h3>
                <p>Prospects To Action</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3 id="activebl">{{ site.activebl }}</h3>

                <p>Active BackLinks</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-purple">
              <div class="inner">
                <h3 id="newbl">{{site.newbl}}</h3>

                <p>New Backlinks</p>
              </div>
              <div class="icon">
                <i class="fas fa-smile"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3 id="lostbl">{{site.lostbl}}</h3>

                <p>Lost Backlinks</p>
              </div>
              <div class="icon">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
</div>
<div class="row">
        <div class="col-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Active Tracking Link</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Link Title</th>
                      <th>Hits</th>
                      <th>Last Visited</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for raurl in ratrackurls %}
                    <tr>
                      <td>{{raurl.title}}</td>
                      <td>{{raurl.urlhits}}</td>
                      <td>{% if raurl.lasthit %}{{ raurl.lasthit|date('d-m-Y / H:i') }}{% else %} No Hits Yet {% endif %}</td>
                      <td>
                        <a href="{{ path('trackingurl_view', {'id': raurl.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        <div class="col-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Updated Prospects</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Prospect</th>
                      <th>Updated</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for rap in raprosps %}
                    <tr>
                      <td>{{ rap.domain }}</td>
                      <td>{{ rap.updated|date('d-m-Y / H:i') }}</td>
                      <td>{{ rap.status }}</td>
                      <td>
                        <a href="{{ path('prospect_view', {'id': rap.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('prospect_edit', {'id': rap.id}) }}" class="btn btn-info btn-sm"><i class="fas fa-pen"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>

        </div>


<div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Added Backlinks</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Backlink</th>
                      <th>Added</th>
                      <th>Last Checked</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for bl in rabls %}
                    <tr>
                      <td>{{ bl.backlink }}</td>
                      <td>{% if bl.created %}{{ bl.created|date('d-m-Y / H:i') }}{% else %} No Created Date {% endif %}</td>
                      <td><div id="blastchecked-{{bl.id}}">{% if bl.lastchecked %}{{ bl.lastchecked|date('d-m-Y / H:i') }}{% else %} Not Checked {% endif %}</div></td>
                      <td><span class="tag tag-success"><div id="bstatus-{{bl.id}}">{{ bl.status }}</div></span></td>
                      <td>
                        <a href="{{ path('backlink_view', {'id': bl.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        <button class="btn btn-warning btn-sm" id="checkisactive-{{bl.id}}"><div id="bspin-{{bl.id}}"><i class="fas fa-sync"></i></div></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

{% endblock %}
{% block pageJS %}
  <script language = "javascript">  
      $(document).ready(function(){   
         $("#blupdate").on("click", function(event){ 
            $('#bspin').html('');  
            $('#bspin').append('<i class="fas fa-sync fa-spin"></i>');
            $('#newbl').html('');  
            $('#newbl').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#activebl').html('');  
            $('#activebl').append('<i class="fas fa-spinner fa-pulse"></i>');  
            $('#lostbl').html('');  
            $('#lostbl').append('<i class="fas fa-spinner fa-pulse"></i>');  
            $('#newprosp').html('');  
            $('#newprosp').append('<i class="fas fa-spinner fa-pulse"></i>');  
            $.ajax({  
               url:        '/site/{{site.id}}/updatecount',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#newbl').html('');  
                  $('#newbl').append(data['newbl']);
                  $('#activebl').html('');  
                  $('#activebl').append(data['activebl']);
                  $('#lostbl').html('');  
                  $('#lostbl').append(data['lostbl']); 
                  $('#newprosp').html('');  
                  $('#newprosp').append(data['cnprosp']);
                  $('#bspin').html('');  
                  $('#bspin').append('<i class="fas fa-sync"></i>');  

                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });  
         $("#updatestatus-active").on("click", function(event){ 
            $('#sitestatus').html('');  
            $('#sitestatus').append('<i class="fas fa-sync fa-spin"></i>');
            $.ajax({  
               url:        '/site/{{site.id}}/changestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#sitestatus').html('');  
                  $('#sitestatus').append('<span class="badge badge-success">Active</span>');
                 
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });  
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#sitestatus').html('');  
            $('#sitestatus').append('<i class="fas fa-sync fa-spin"></i>');
            $.ajax({  
               url:        '/site/{{site.id}}/changestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#sitestatus').html('');  
                  $('#sitestatus').append('<span class="badge badge-danger">Inactive</span>');
                 
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
        {% for bl in rabls %}
        $("#checkisactive-{{bl.id}}").on("click", function(event){ 
            $('#bspin-{{bl.id}}').html('');  
            $('#bspin-{{bl.id}}').append('<i class="fas fa-sync fa-pulse"></i>'); 
            $('#bstatus-{{bl.id}}').html('');  
            $('#bstatus-{{bl.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#blastchecked-{{bl.id}}').html('');  
            $('#blastchecked-{{bl.id}}').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{bl.id}}/activechecker',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bspin-{{bl.id}}').html('');  
                  $('#bspin-{{bl.id}}').append('<i class="fas fa-sync"></i>');
                  $('#blastchecked-{{bl.id}}').html('');  
                  $('#blastchecked-{{bl.id}}').append(data['lastchecked']);   
                  $('#bstatus-{{bl.id}}').html('');  
                  $('#bstatus-{{bl.id}}').append(data['isactive']); 
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Tracking url has not been assigned, unable to finish scan');  
               }  
               
            });  
         });   
         {% endfor %}
      });  
   </script> 
{% endblock %}
{% block ModalArea %}

{% endblock %}