{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/homemenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Websites By Status
{% endblock %}
{% block tcright %}
   <!-- <button id="blupdate" class="btn btn-success"><div id="bspin"><i class="fas fa-sync"></i></div></button> -->
    <a href="" class="btn btn-info" data-toggle="modal" data-target="#modal-lg">Add New</a>
    
{% endblock %}
{% block body %}
<div class="card card-primary card-outline mb-1">
          <div class="card-header">
            <h3 class="card-title">{{ status }} Websites</h3>
          </div> 
</div>
<div class="row">
    {% for site in sites %}
    <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="card-header bg-info">
                <h5 class="card-title">
                {{site.name}} <span class="badge badge-{% if site.status == 'Active' %}success{% endif %}{% if site.status == 'Inactive' %}danger{% endif %}{% if site.status == 'New' %}dark{% endif %}">{{site.status}}</span>
                </h5>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 id="activebl-{{site.id}}" class="description-header">{{site.activebl}}</h5>
                      <span class="description-text">Active Backlinks</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 id="caprosp-{{site.id}}" class="description-header">{{site.activeprosp}}</h5>
                      <span class="description-text">Active Prospects</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 id="caspages-{{site.id}}" class="description-header">{{site.activesitepages}}</h5>
                      <span class="description-text">Active Pages</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 id="catrackcamps-{{site.id}}" class="description-header">{{site.activetrackcamps}}</h5>
                      <span class="description-text">Active Campaigns</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 id="catrackurls-{{site.id}}" class="description-header">{{site.activetracklinks}}</h5>
                      <span class="description-text">Active Urls</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <a href="{{ path('site_dashboard', {'id': site.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                      <button id="sitestatsupdate-{{site.id}}" class="btn btn-warning"><div id="bspin-{{site.id}}"><i class="fas fa-sync"></i></div></button>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.widget-user -->
          </div>
    {% endfor %}
</div>
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Site</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Site Name</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Site Url</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.Url, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Description</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                            </div>

                        </div>
                    </div>
                </div>      
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" id="form-submit" class="btn btn-primary">Add Site</button>
            </div>
             {{ form_end(form) }}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}
{% block pageJS %}
  <script language = "javascript">  
      $(document).ready(function(){  
         {% for site in sites %} 
         $("#sitestatsupdate-{{site.id}}").on("click", function(event){ 
            $('#bspin-{{site.id}}').html('');  
            $('#bspin-{{site.id}}').append('<i class="fas fa-sync fa-spin"></i>');
            $('#activebl-{{site.id}}').html('');  
            $('#activebl-{{site.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');  
            $('#caprosp-{{site.id}}').html('');  
            $('#caprosp-{{site.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#caspages-{{site.id}}').html('');  
            $('#caspages-{{site.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#catrackcamps-{{site.id}}').html('');  
            $('#catrackcamps-{{site.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#catrackurls-{{site.id}}').html('');  
            $('#catrackurls-{{site.id}}').append('<i class="fas fa-spinner fa-pulse"></i>');
            $.ajax({  
               url:        '/site/{{site.id}}/updatecount',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) { 
                  $('#bspin-{{site.id}}').html('');  
                  $('#bspin-{{site.id}}').append('<i class="fas fa-sync"></i>');  
                  $('#activebl-{{site.id}}').html('');  
                  $('#activebl-{{site.id}}').append(data['activebl']);
                  $('#caprosp-{{site.id}}').html('');  
                  $('#caprosp-{{site.id}}').append(data['caprosp']);
                  $('#caspages-{{site.id}}').html('');  
                  $('#caspages-{{site.id}}').append(data['caspages']);
                  $('#catrackcamps-{{site.id}}').html('');  
                  $('#catrackcamps-{{site.id}}').append(data['catrackcamps']);
                  $('#catrackurls-{{site.id}}').html('');  
                  $('#catrackurls-{{site.id}}').append(data['catrackurls']);     
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });  
         {% endfor %}
      });  
   </script> 
{% endblock %}