<!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
<li class="nav-header">System Settings</li>
<li class="nav-item">
    <a href="{{ path('system_users') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-green"></i>
        <p>User Accounts</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_tools') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-orange"></i>
        <p>Tools</p>
    </a>
</li>
<li class="nav-header">About / Info</li>
<li class="nav-item">
    <a href="{{ path('system_information') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-red"></i>
        <p>System Information</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_license') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-blue"></i>
        <p>License</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_credits') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-green"></i>
        <p>Credits</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_sponsers') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-yellow"></i>
        <p>Sponsers</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_contributors') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-pink"></i>
        <p>Contributers</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('system_support') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-grey"></i>
        <p>Support</p>
    </a>
</li>

