<!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
<li class="nav-header">Site Options</li>
<li class="nav-item">
    <a href="{{ path('site_dashboard', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-red"></i>
        <p>Site Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon far fa-circle text-red"></i>
        <p>Edit Site</p>
    </a>
</li>
<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon far fa-circle text-red"></i>
        <p>Goals</p>
    </a>
</li>
<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon far fa-circle text-red"></i>
        <p>Reports</p>
    </a>
</li>
<li class="nav-header">Workflow</li>
<li class="nav-item">
    <a href="{{ path('site_prospects', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Prospects</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('site_backlinks', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Backlinks</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('site_keywords', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Keywords</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('site_pages', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Site Pages</p>
    </a>
</li>
<li class="nav-header">Tools</li>
<li class="nav-item">
    <a href="{{ path('site_link_tracking', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-green"></i>
        <p>Link Tracking</p>
    </a>
</li>