{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Keyword Information
{% endblock %}
{% block tcright %}
              <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{keyword.keyword}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.created %}{{keyword.created|date('d-m-Y / H:m')}}{% else %} No Created Date {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Checked</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.lastchecked %}{{keyword.lastchecked|date('d-m-Y / H:m')}}{% else %} Not Checked {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.updated %}{{keyword.updated|date('d-m-Y / H:m')}}{% else %} Not Updated {% endif %}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    somthing here
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Keyword Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="kstatus">
                      {{keyword.status}}
                  </b>
                </p>
                <p class="text">Backlinks (work in progress)
                  <b class="d-block">0</b>
                </p>
                <p class="text">Linked Pages (work in progress)
                  <b class="d-block">0</b>
                </p>
                <p class="text">Prospects Sites (work in progress)
                  <b class="d-block">0</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                 Somthing here
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                body
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Keyword - Unread Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('keyword_notes', {'id': keyword.id}) }}" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not knotes %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in knotes %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <hr />
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#kstatus').html('');  
            $('#kstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/keyword/{{keyword.id}}/updatestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kstatus').html('');  
                  $('#kstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#kstatus').html('');  
            $('#kstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/keyword/{{keyword.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kstatus').html('');  
                  $('#kstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      });  
   </script>
{% endblock %}
{% block ModalArea %}

{% endblock %}