{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Keyword Information
{% endblock %}
{% block tcright %}
              <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{keyword.keyword}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.created %}{{keyword.created|date('d-m-Y / H:i')}}{% else %} No Created Date {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Checked</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.lastchecked %}{{keyword.lastchecked|date('d-m-Y / H:i')}}{% else %} Not Checked {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if keyword.updated %}{{keyword.updated|date('d-m-Y / H:i')}}{% else %} Not Updated {% endif %}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
              <div class="col-6">
                <h5 class="m-0 text-dark"></h5>
                </div>
                <div class="col-6">
                <div class="float-sm-right">
                 <a href="#" class="btn btn-sm btn-dark">View All (coming soon)</a>
                 </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card card-dark">
                    <div class="card-header">
                      <h3 class="card-title">Latest Backlinks</h3>
                    </div>
                  <div class="card-body p-0">
                      <table class="table table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Backlink</th>
                      <th>Last Checked</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for a in backlinks %}
                    <tr>
                      <td>{{ a.backlink|slice(0,75) ~ '...' }}</td>
                      <td><div id="blastchecked-{{a.id}}">{% if a.lastchecked %}{{ a.lastchecked|date('d-m-Y / H:i') }}{% else %} Not Checked {% endif %}</div></td>
                      <td><span class="tag tag-success"><div id="bstatus-{{a.id}}">{{ a.status }}</div></span></td>
                      <td>
                        <a href="{{ path('backlink_view', {'id': a.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        <button class="btn btn-warning btn-sm" id="checkisactive-{{a.id}}"><div id="bspin-{{a.id}}"><i class="fas fa-sync"></i></div></button>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="dropdown">
                      <i class="fas fa-link"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div id="lostbutton">
                       <button class="dropdown-item" id="updatestatus-lost-{{a.id}}">Lost Backlink</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active-{{a.id}}">Active Backlink</button>  
                       </div>
                    </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Keyword Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="kstatus">
                      {{keyword.status}}
                  </b>
                </p>
                <p class="text">Backlinks
                  <b class="d-block">{{ totalbacklinks }}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Unread Issues Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('keyword_notes', {'id': keyword.id}) }}" class="btn btn-tool btn-danger">View Notes</a>
                            </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 {% if not knotesissues %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in knotesissues %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <hr />
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Unread Tasks Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('keyword_notes', {'id': keyword.id}) }}" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not knotestasks %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in knotestasks %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <hr />
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#kstatus').html('');  
            $('#kstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/keyword/{{keyword.id}}/updatestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kstatus').html('');  
                  $('#kstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#kstatus').html('');  
            $('#kstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/keyword/{{keyword.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kstatus').html('');  
                  $('#kstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      });  
   </script>
{% endblock %}
{% block ModalArea %}

{% endblock %}