{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Tracking Url Information
{% endblock %}
{% block tcright %}
                    <button class="btn btn-success"><i class="fas fa-sync"></i></button>
                    <button type="button" class="btn btn-info" data-toggle="dropdown"><i class="fas fa-link"></i></button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{turl.title}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{{turl.created|date('d-m-Y')}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Checked</span>
                      <span class="info-box-number text-center text-muted mb-0"></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{{turl.updated|date('d-m-Y')}}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
              <div class="col-6">
                <h5 class="m-0 text-dark">Tracking Link</h5>
                </div>
                <div class="col-6">
                <div class="float-sm-right">
                 <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i></button>
                 <a href="" class="btn btn-sm btn-dark">View All</a>
                 </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card">
              <div class="card-body">
                <div class="well">
                    https://domain.com/t=45456
                </div>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
              </div>

            <div class="row mb-1">
              <div class="col-12">
                <h5 class="m-0 text-dark">Direct Link <span style="font-size: small;">(This link does not count traffic statistic)</span></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card">
              <div class="card-body">
                <div class="well">
                    https://domain.com/d=45456
                </div>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Tracking Url Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status 
                  <b class="d-block" id="pstatus">
                      {{turl.status}}
                  </b>
                </p>
                <p class="text">Link Hits
                  <b class="d-block">{{turl.urlhits}}</b>
                </p>
                <p class="text">Site Page <button class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></button>
                  <b class="d-block">Link Here Soon</b>
                </p>

                <p class="text">Keyword <button class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></button>
                  <b class="d-block">Link Here Soon</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                 Somthing here
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                body
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Campaign - Unread Notes</h3>
                            <div class="card-tools">
                                <a href="" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                notes here
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   
{% endblock %}
{% block ModalArea %}

{% endblock %}