{% extends 'base.html.twig' %}
{% set assignitems = 'Assign all items to generate link' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Tracking Url Information
{% endblock %}
{% block tcright %}
                    <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{turl.title}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if turl.lasthit %}{{turl.created|date('d-m-Y / H:i')}}{% else %} No Created Date {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Visited</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if turl.lasthit %} {{turl.lasthit|date('d-m-Y / H:i')}}{% else %} Not Visited Yet {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if turl.updated %}{{turl.updated|date('d-m-Y / H:i')}}{% else %} Not Updated {% endif %}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
              <div class="col-6">
                <h5 class="m-0 text-dark">Tracking Link</h5>
                </div>
                <div class="col-6">
                <div class="float-sm-right">
                 <button id="updatetlinks" class="btn btn-sm btn-info">Reload Links</buttons>
                 </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card">
              <div class="card-body">
                <div class="well">
                  <div id="generatelink-t">
                    {% if turl.prospectid and turl.spageid and turl.keywordid %}  {{ app.request.getSchemeAndHttpHost() }}/t={{turl.id}}{{turl.prospectid}}{{turl.spageid}}{{turl.keywordid}} {% else %} {{assignitems}} {% endif %}
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
              </div>

            <div class="row mb-1">
              <div class="col-12">
                <h5 class="m-0 text-dark">Direct Link <span style="font-size: small;">(This link does not count traffic statistic)</span></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card">
              <div class="card-body">
                <div class="well">
                  <div id="generatelink-d">
                    {% if turl.prospectid and turl.spageid and turl.keywordid %}  {{ app.request.getSchemeAndHttpHost() }}/d={{turl.id}}{{turl.prospectid}}{{turl.spageid}}{{turl.keywordid}} {% else %} {{assignitems}} {% endif %}
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Tracking Url Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status 
                  <b class="d-block" id="tustatus">
                      {{turl.status}}
                  </b>
                </p>
                <p class="text">Link Hits
                  <b class="d-block">{{turl.urlhits}}</b>
                </p>
                <p class="text">Prospect {% if turl.prospectid != null %}<a href="{{ path('prospect_view', {'id': turl.prospectid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="prospectassign">{% if turl.prospectid != null %}{{getprospect.name}}{% endif %}</b>
                  {% if turl.prospectid == null %}
                  <div id="prospectassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignprospectmodal-lg">Assign Prospect</button>
                  </div>
                  {% endif %}
                </p>
                <p class="text">Site Page {% if turl.spageid != null %}<a href="{{ path('sitepage_view', {'id': turl.spageid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="spassign">{% if turl.spageid != null %}{{ spage.url }}{% endif %}</b>
                  {% if turl.spageid == null %}
                  <div id="spassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignsitemodal-lg">Assign Site Page</button>
                  </div>
                  {% endif %}
                </p>

                <p class="text">Keyword {% if turl.keywordid != null %}<a href="{{ path('keyword_view', {'id': turl.keywordid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="kwassign">{% if turl.keywordid != null %}{{ kword.keyword }}{% endif %}</b>
                  {% if turl.keywordid == null %}
                  <div id="kwassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignkeywordmodal-lg">Assign Keyword</button>
                  </div>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">
                 Unread Issue Notes
                </h3>
                <div class="card-tools">
                  <a href="" class="btn btn-tool btn-danger">View Notes</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                Coming Soon
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Unread Task Notes</h3>
                            <div class="card-tools">
                                <a href="" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                Coming Soon
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="assignprospectmodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Prospect</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Prospect Name</th>
                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for prosp in prospects %}
                    <tr>
                      <td>{{prosp.name}}</td>
                      <td><button id="assignprosp-{{prosp.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<div class="modal fade" id="assignsitemodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Site Page</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Site Page</th>
                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sp in spages %}
                    <tr>
                      <td>{{sp.url}}</td>
                      <td><button id="assignsitepage-{{sp.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <div class="modal fade" id="assignkeywordmodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Keyword</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Keyword</th>

                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for kw in keywords %}
                    <tr>
                      <td>{{kw.keyword}}</td>
                      <td><button id="assignkeyword-{{kw.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#tustatus').html('');  
            $('#tustatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/linktrack/{{turl.id}}/updatestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#tustatus').html('');  
                  $('#tustatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#tustatus').html('');  
            $('#tustatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/linktrack/{{turl.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#tustatus').html('');  
                  $('#tustatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });
          {% for prosp in prospects %}
         $("#assignprosp-{{prosp.id}}").on("click", function(event){
            $('#prospectassignbutton').html(''); 
            $('#prospectassign').html('');  
            $('#prospectassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/linktrack/{{turl.id}}/assignprospect/{{prosp.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#prospectassign').html('');  
                  $('#prospectassign').append(data['getprospect']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %} 
         {% for sp in spages %}
         $("#assignsitepage-{{sp.id}}").on("click", function(event){
            $('#spassignbutton').html(''); 
            $('#spassign').html('');  
            $('#spassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/linktrack/{{turl.id}}/assignsitepage/{{sp.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spassign').html('');  
                  $('#spassign').append(data['spageurl']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %} 
         {% for kw in keywords %}
         $("#assignkeyword-{{kw.id}}").on("click", function(event){
            $('#kwassignbutton').html(''); 
            $('#kwassign').html('');  
            $('#kwassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/linktrack/{{turl.id}}/assignkeyword/{{kw.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kwassign').html('');  
                  $('#kwassign').append(data['kword']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %} 
         $("#updatetlinks").on("click", function(event){ 
            $('#generatelink-t').html('');  
            $('#generatelink-t').append('<i class="fas fa-spinner fa-pulse"></i>');
            $('#generatelink-d').html('');  
            $('#generatelink-d').append('<i class="fas fa-spinner fa-pulse"></i>');  
            $.ajax({ 
                url:        '/linktrack/url/{{turl.id}}/generateurl',  
                type:       'POST',   
                dataType:   'json',  
                async:      true,    
                success: function(data, status) {  
                $('#generatelink-t').html('');  
                $('#generatelink-t').append(data['turl']);
                $('#generatelink-d').html('');  
                $('#generatelink-d').append(data['durl']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });  
      });  
   </script>
{% endblock %}
