{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Site Page Notes
{% endblock %}
{% block tcright %}
    <button class="btn btn-info" data-toggle="modal" data-target="#modal-lg">Add Note</button>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <table class="table table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Note</th>
                      <th>Created</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for n in spnotes %}
                    <tr>
                      <td>{{ n.title }}</td>
                      <td>{% if n.created %}{{ n.created|date('d-m-Y / H:i') }}{% else %} No Created Date {% endif %}</td>
                      <td><span class="tag tag-success">{{ n.status }}</span></td>
                      <td>
                        <a href="{{ path('sitepages_note_view', {'id': n.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="row">
                  <div class="col-sm-12">
                     <div class="dataTables_paginate float-right">
                        <ul class="pagination">
                           <li class="paginate_button page-item previous {% if currentpage < '2' %}disabled{% endif %}"><a href="?page=1" class="page-link">First</a></li>
                           <li class="paginate_button page-item previous {% if currentpage < '2' %}disabled{% endif %}"><a href="?page={{previouspage}}" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                           <li class="paginate_button page-item disabled"><a href="" class="page-link">{{currentpage}} of {{maxpages}}</a></li>
                           <li class="paginate_button page-item next {% if currentpage == maxpages %}disabled{% endif %}"><a href="?page={{nextpage}}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                           <li class="paginate_button page-item next {% if currentpage == maxpages %}disabled{% endif %}"><a href="?page={{maxpages}}" class="page-link">Last</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            <!-- /.card -->
          </div>

        </div>
{% endblock %}
{% block pageJS %}
   
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Note</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Note Title</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Note Type</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Type, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Description</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
       
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" id="form-submit" class="btn btn-primary">Add Note</button>
            </div>
             {{ form_end(form) }}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}