{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Tracking Campaign Information
{% endblock %}
{% block tcright %}
                    <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{tcamp.title}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if tcamp.created %}{{tcamp.created|date('d-m-Y / H:i')}}{% else %} No Created Date {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">somthing here</span>
                      <span class="info-box-number text-center text-muted mb-0"></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if tcamp.updated %}{{tcamp.updated|date('d-m-Y / H:i')}}{% else %} Not Updated {% endif %}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
              <div class="col-6">
                <h5 class="m-0 text-dark"></h5>
                </div>
                <div class="col-6">
                <div class="float-sm-right">
                 <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i></button>
                 <a href="{{ path('trackcamp_urls_view', {'id': tcamp.id}) }}" class="btn btn-sm btn-dark">View All</a>
                 </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card">
              <div class="card-body p-0">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Tracking Links</th>
                      <th>Hits/Traffic</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for tu in turls  %}
                    <tr>
                      <td>{{tu.title}}</td>
                      <td>{{tu.urlhits}}</td>
                      <td><span class="tag tag-success">{{tu.status}}</span></td>
                      <td>
                        <a href="{{ path('trackingurl_view', {'id': tu.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 {% if not turls %}
                    <p style="text-align:center;">No Campaigns - Add one to Start Tracking Urls</p>
                 {% endif %}
              </div>
              <!-- /.card-body -->
            </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Campaign Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status 
                  <b class="d-block" id="pstatus">
                      {{tcamp.status}}
                  </b>
                </p>
                <p class="text">Prospect {% if prospect %}<a href="{{ path('prospect_view', {'id': prospect.id}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block">{{prospect.name}}</b>
                </p>
                <p class="text">Campaign Hits
                  <b class="d-block">{{tcamp.totalhits}}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                 Somthing here
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                body
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Campaign - Unread Notes</h3>
                            <div class="card-tools">
                                <a href="" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                Coming Soon
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Tracking Url</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label>Url Title</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.Title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
       
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" id="form-submit" class="btn btn-primary">Add Url</button>
            </div>
             {{ form_end(form) }}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}