{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/settingsmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Edit User
{% endblock %}
{% block tcright %}
{{ form_start(form) }}
    <button type="submit" id="form-submit" class="btn btn-success">Add User</button>
{% endblock %}
{% block body %}
<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit User Account</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Username</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                           {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder' : 'Username'}}) }}
                            </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>User Email</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Enter Email'}}) }}
                            </div>
                    </div>
                </div>  
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>User Roles</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                             {{ form_widget(form.roles, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                            </div>
                    </div>
                </div>   
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>User Password</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                             {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder' : 'Enter Password'}}) }}
                            </div>
                    </div>
                </div>   
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                        <div class="form-group">
                             {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder' : 'Repeat Password'}}) }}
                            </div>
                    </div>
                </div>   
                        
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        
        </div>
      {{ form_end(form) }}

{% endblock %}
{% block pageJS %}
 
{% endblock %}



