{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Backlink Information
{% endblock %}
{% block tcright %}
    <button class="btn btn-success"><i class="fas fa-sync"></i></button>
                        <button type="button" class="btn btn-info" data-toggle="dropdown">
                      <i class="fas fa-link"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ backlink.backlink }}" target="_blank">Check Active</a>
                      <div id="lostbutton">
                       <button class="dropdown-item" id="updatestatus-lost">Lost Backlink</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active Backlink</button>  
                       </div>
                    </div>
                    <button class="btn btn-secondary"><i class="fas fa-cog"></i></button>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Backlink Details</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{{backlink.created|date('d-m-Y')}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Checked</span>
                      <span class="info-box-number text-center text-muted mb-0">{{backlink.lastchecked|date('d-m-Y')}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{{backlink.updated|date('d-m-Y')}}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Backlink - Notes</h3>
                            <div class="card-tools">
                                <button class="btn btn-tool btn-info">Add Note</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="post">
                        <strong>Title</strong>
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>
                    </div>
                    <div class="post">
                     <strong>Title</strong>
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Backlink Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="bstatus">
                      {{backlink.status}}
                  </b>
                </p>
                <p class="text">Backlink
                  <b class="d-block">{{backlink.backlink}}</b>
                </p>
                <p class="text">Links To
                  <b class="d-block" id="spassign">{% if backlink.spageid != null %}{{spage.url}}{% endif %}</b>
                  {% if backlink.spageid == null %}
                  <div id="spassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignsitemodal-lg">Assign Site Page</button>
                  </div>
                  {% endif %}
                </p>
                <p class="text">Keyword
                  <b class="d-block">Some Keyword</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="assignsitemodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Site Page</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sp in spages %}
                    <tr>
                      <td>{{sp.url}}</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                      <td><button id="assignsitepage-{{sp.id}}" data-dismiss="modal" class="btn btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-lost").on("click", function(event){ 
            $('#bstatus').html('');  
            $('#bstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/updatestatus/Lost',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus').html('');  
                  $('#bstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#bstatus').html('');  
            $('#bstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus').html('');  
                  $('#bstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });
         {% for sp in spages %}
         $("#assignsitepage-{{sp.id}}").on("click", function(event){
            $('#spassignbutton').html(''); 
            $('#spassign').html('');  
            $('#spassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/assignsitepage/{{sp.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spassign').html('');  
                  $('#spassign').append(data['spageurl']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %}   
      });  
   </script>
{% endblock %}