{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Backlink Information
{% endblock %}
{% block tcright %}
    <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ backlink.backlink }}" target="_blank">Check Active</a>
      <div id="lostbutton">
        <button class="dropdown-item" id="updatestatus-lost">Lost Backlink</button>
      </div>
      <div id="activebutton">
        <button class="dropdown-item" id="updatestatus-active">Active Backlink</button>  
      </div>
    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if backlink.created %}{{backlink.created|date('d-m-Y / H:i')}}{% else %} No Created Date{% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Last Checked</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if backlink.lastchecked %}{{backlink.lastchecked|date('d-m-Y / H:i')}}{% else %} Not Checked Yet{% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if backlink.updated %}{{backlink.updated|date('d-m-Y / H:i')}}{% else %} Not Updated{% endif %}<span>
                    </span></span></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card card-dark">
                    <div class="card-header">
                      <h3 class="card-title">Extra Features Coming Soon</h3>
                    </div>
                  <div class="card-body">
                      <p>
                        We are working out extra feature that will fill this space,
                        We are working hard to get as much features in as possible
                      </p>
                      <p>
                        Overtime this space will be filled with extra information as we build the system,
                        In the meantime if you have any ideas or suggestions please feel free to let us know and we will aim to implement them here
                      </p>
                  </div>
                </div>
              </div>


              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Backlink Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="bstatus">
                      {{backlink.status}}
                  </b>
                </p>
                <p class="text">Backlink
                  <b class="d-block">{{backlink.backlink}}</b>
                </p>
                <p class="text">Prospect {% if backlink.prospectid %}<a href="{{ path('prospect_view', {'id': backlink.prospectid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="prospectassign">{% if backlink.prospectid != null %}{{getprospect.name}}{% endif %}</b>
                  {% if backlink.prospectid == null %}
                  <div id="prospectassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignprospectmodal-lg">Assign Prospect</button>
                  </div>
                  {% endif %}
                </p>
                <p class="text">Links To {% if backlink.spageid %}<a href="{{ path('sitepage_view', {'id': backlink.spageid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="spassign">{% if backlink.spageid != null %}{{spage.url}}{% endif %}</b>
                  {% if backlink.spageid == null %}
                  <div id="spassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignsitemodal-lg">Assign Site Page</button>
                  </div>
                  {% endif %}
                </p>
                <p class="text">Keyword {% if backlink.keywordid %}<a href="{{ path('keyword_view', {'id': backlink.keywordid}) }}" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>{% endif %}
                  <b class="d-block" id="kwassign">{% if backlink.keywordid != null %}{{kword.keyword}}{% endif %}</b>
                  {% if backlink.keywordid == null %}
                  <div id="kwassignbutton">
                  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#assignkeywordmodal-lg">Assign Keyword</button>
                  </div>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

    <div class="row">
    <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Unread Issues Notes</h3>
                  <div class="card-tools">
                    <a href="{{ path('backlink_notes', {'id': backlink.id}) }}" class="btn btn-tool btn-danger">View Notes</a>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not blnotesissues %}
                  Nice Work - No New Issues
                {% endif %}
                {% for note in blnotesissues %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <hr />
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Unread Task Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('backlink_notes', {'id': backlink.id}) }}" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not blnotestasks %}
                  Nice Work - No New Tasks
                {% endif %}
                {% for note in blnotestasks %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <hr />
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block ModalArea %}
<div class="modal fade" id="assignprospectmodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Prospect</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Prospect Name</th>
                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for prosp in prospects %}
                    <tr>
                      <td>{{prosp.name}}</td>
                      <td><button id="assignprosp-{{prosp.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

<div class="modal fade" id="assignsitemodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Site Page</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Site Page</th>
                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sp in spages %}
                    <tr>
                      <td>{{sp.url}}</td>
                      <td><button id="assignsitepage-{{sp.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <div class="modal fade" id="assignkeywordmodal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign Keyword</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Keyword</th>

                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for kw in keywords %}
                    <tr>
                      <td>{{kw.keyword}}</td>
                      <td><button id="assignkeyword-{{kw.id}}" data-dismiss="modal" class="btn btn-sm btn-info">Assign</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-lost").on("click", function(event){ 
            $('#bstatus').html('');  
            $('#bstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/updatestatus/Lost',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus').html('');  
                  $('#bstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#bstatus').html('');  
            $('#bstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#bstatus').html('');  
                  $('#bstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });
          {% for prosp in prospects %}
         $("#assignprosp-{{prosp.id}}").on("click", function(event){
            $('#prospectassignbutton').html(''); 
            $('#prospectassign').html('');  
            $('#prospectassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/assignprospect/{{prosp.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#prospectassign').html('');  
                  $('#prospectassign').append(data['getprospect']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %} 
         {% for sp in spages %}
         $("#assignsitepage-{{sp.id}}").on("click", function(event){
            $('#spassignbutton').html(''); 
            $('#spassign').html('');  
            $('#spassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/assignsitepage/{{sp.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spassign').html('');  
                  $('#spassign').append(data['spageurl']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %} 
         {% for kw in keywords %}
         $("#assignkeyword-{{kw.id}}").on("click", function(event){
            $('#kwassignbutton').html(''); 
            $('#kwassign').html('');  
            $('#kwassign').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/backlink/{{backlink.id}}/assignkeyword/{{kw.id}}',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#kwassign').html('');  
                  $('#kwassign').append(data['kword']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         {% endfor %}   
      });  
   </script>
{% endblock %}