{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Site Page Information
{% endblock %}
{% block tcright %}
                    <button class="btn btn-success"><i class="fas fa-sync"></i></button>
                    <button type="button" class="btn btn-info" data-toggle="dropdown"><i class="fas fa-handshake"></i></button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{spage.url}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{{spage.created|date('d-m-Y')}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{{spage.updated|date('d-m-Y')}}<span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">somthing</span>
                      <span class="info-box-number text-center text-muted mb-0">somthing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    somthing here
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Site Page Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="spstatus">
                      {{spage.status}}
                  </b>
                </p>
                <p class="text">Backlinks <a href="" class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></a>
                  <b class="d-block">123</b>
                </p>
                <p class="text">Linked Pages <button class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></button>
                  <b class="d-block">10</b>
                </p>
                <p class="text">Keywords Used <button class="btn btn-xs btn-default"><i class="fas fa-external-link-alt"></i></button>
                  <b class="d-block">100</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                 Somthing here
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                body
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Site Page - Unread Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('sitepage_notes', {'id': spage.id}) }}" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not spnotes %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in spnotes %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#spstatus').html('');  
            $('#spstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/sitepage/{{spage.id}}/updatestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spstatus').html('');  
                  $('#spstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#spstatus').html('');  
            $('#spstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/sitepage/{{spage.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spstatus').html('');  
                  $('#spstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      });  
   </script>
{% endblock %}
{% block ModalArea %}

{% endblock %}