{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/sitesmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Site Page Information
{% endblock %}
{% block tcright %}
                    <button type="button" class="btn btn-info" data-toggle="dropdown">Status</button>
                    <div class="dropdown-menu">
                      <div id="inactivebutton">
                       <button class="dropdown-item" id="updatestatus-inactive">Inactive</button>
                       </div>
                        <div id="activebutton">
                       <button class="dropdown-item" id="updatestatus-active">Active</button>  
                       </div>
                    </div>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{spage.url}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Created</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if spage.created %}{{spage.created|date('d-m-Y / H:i')}}{% else %} No Created Date {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Updated</span>
                      <span class="info-box-number text-center text-muted mb-0">{% if spage.updated %}{{spage.updated|date('d-m-Y / H:i')}}{% else %} Not Updated {% endif %}<span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">somthing</span>
                      <span class="info-box-number text-center text-muted mb-0">somthing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card card-dark">
                    <div class="card-header">
                      <h3 class="card-title">Extra Features Coming Soon</h3>
                    </div>
                  <div class="card-body">
                      <p>
                        We are working out extra feature that will fill this space,
                        We are working hard to get as much features in as possible
                      </p>
                      <p>
                        Overtime this space will be filled with extra information as we build the system,
                        In the meantime if you have any ideas or suggestions please feel free to let us know and we will aim to implement them here
                      </p>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">Site Page Details</h3>
              <p class="text-muted">Description here</p>
              <br>
              <div class="text-muted">
              <p class="text">Status
                  <b class="d-block" id="spstatus">
                      {{spage.status}}
                  </b>
                </p>
                <p class="text">Backlinks (work in progress)
                  <b class="d-block">0</b>
                </p>
                <p class="text">Linked Pages (work in progress)
                  <b class="d-block">0</b>
                </p>
                <p class="text">Keywords Used (work in progress)
                  <b class="d-block">0</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="row">
    <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">
                 <h3 class="card-title">Unread Issues Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('sitepage_notes', {'id': spage.id}) }}" class="btn btn-tool btn-danger">View Notes</a>
                            </div>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               {% if not spnotesissues %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in spnotesissues %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                            <h3 class="card-title">Unread Task Notes</h3>
                            <div class="card-tools">
                                <a href="{{ path('sitepage_notes', {'id': spage.id}) }}" class="btn btn-tool btn-info">View Notes</a>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not spnotestasks %}
                  Nice Work - No New Notes
                {% endif %}
                {% for note in spnotestasks %}
                <div class="post">
                    <strong>{{ note.title }}</strong>
                    <p>
                      {{ note.description }}
                    </p>
                    <p>
                      <button class="btn btn-sm btn-info">Mark Read</button>
                      <button class="btn btn-sm btn-success">View</button>
                    </p>
                </div>
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
{% block pageJS %}
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#updatestatus-inactive").on("click", function(event){ 
            $('#spstatus').html('');  
            $('#spstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/sitepage/{{spage.id}}/updatestatus/Inactive',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spstatus').html('');  
                  $('#spstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updatestatus-active").on("click", function(event){ 
            $('#spstatus').html('');  
            $('#spstatus').append('<i class="fas fa-spinner fa-pulse"></i>'); 
            $.ajax({ 

               url:        '/sitepage/{{spage.id}}/updatestatus/Active',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#spstatus').html('');  
                  $('#spstatus').append(data['statuschange']);
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      });  
   </script>
{% endblock %}
{% block ModalArea %}

{% endblock %}